.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #022c43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 9999;
  font-family: monospace;
  text-align: center;
}

.loader-text {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  span {
    color: #ffd700;
  }
}

.progress-bar {
  width: 30%;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #ffd700;
  border-radius: 10px;
}

.percentage {
  margin-top: 10px;
  font-size: 14px;
  color: #ffd700;
}
