.project-page {
  padding-left: 6em;
  padding-right: 4em;
  padding-bottom: 4em;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  cursor: default;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding-left: 0;
  }

  h1.page-title {
    margin-left: 100px;
    margin-top: 90px;
    color: #ffd700;


    @media screen and (max-width: 1024px) {
      margin-left: 60px;
      margin-top: 20px;
    }
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 2em;
    margin-left: 12em;
    margin-top: 4em;
    overflow-y: visible;

    @media screen and (max-width: 1024px) {
      margin-left: 5em;
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      
    }

    .project-item {
      position: relative;
      height: 700px;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease;

      @media screen and (max-width: 1024px) {
        height: 500px;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      }

      .project-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        z-index: 1;
        position: absolute;
        transition: filter 0.3s ease;
      }

      .project-image.blurred {
        filter: blur(5px);
      }

      .overlay {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
        pointer-events: none;
        text-align: center;

        @media screen and (max-width: 480px) {
          padding: 10px;
        }

        @media screen and (max-width: 4768px) {
          padding: 7px;
        }

        .title {
          font-size: 100px;
          font-weight: 700;
          color: #fff;
          margin-bottom: 10px;
          text-align: center;

          @media screen and (max-width: 768px) {
            font-size: 80px;
          }
          @media screen and (max-width: 480px) {
            font-size: 30px;
          }
        }

        .tech-stack {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          // margin-top: 10px;

          .tech-item {
            padding: 2px 4px;
            border-radius: 5px;
            font-size: 20px;
            color: #fff;

            @media screen and (max-width: 480px) {
              font-size: 15px;
            }
          }
        }

        .project-buttons {
          display: flex;
          gap: 1em;
          margin-top: 15px;

          .btn {
            color: #ffd700;
            font-size: 17px;
            border: 2px solid #ffd700;
            font-weight: 600;
            border-radius: 5px;
            background: transparent;
            padding: 7px 10px;
            text-decoration: none;
            transition: transform 0.3s, background-color 0.3s, color 0.3s;
            cursor: pointer;

            @media screen and (max-width: 480px) {
              font-size: 12px;
              padding: 5px 8px;
            }

            &:hover {
              background-color: #ffd700;
              color: #022C43;
              transform: translateY(-3px);
            }
          }
        }
      }

      &:hover .overlay {
        opacity: 1;
        pointer-events: auto;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, #3e360b, #000);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
      }

      &:hover:after {
        opacity: 0.5;
      }
    }
  }
}

// Responsive layout for mobile and tablets
@media screen and (max-width: 768px) {
  .container.project-page {
    padding-left: 1.5em;
    padding-right: 1.5em;

    h1.page-title {
      margin-left: 40px;
      margin-top: 20px;
      text-align: start;
    }

    .project-list {
      padding-left: 4em;
      padding-right: 2em;
      margin-left: 0;
      margin-top: 0;
    }
    .project-item {
      height: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .container.project-page {
    padding-left: 1em;
    padding-right: 1em;

    h1.page-title {
      margin-left: 20px;
      margin-top: 10px;
      text-align: start;
    }

    .project-list {
      padding-left: 2em;
      padding-right: 1em;
      margin-left: 0;
      margin-top: 0;
    }
    .project-item {
      height: 200px;
    }
  }
  
}