// .logo-container{
//   z-index: 0;
//   width: 400px;
//   height: 609px;
//   position: absolute;
//   top: 0;
//   right: 15%;
//   bottom: 0;
//   left: auto;
//   margin: auto;
//   opacity: 0;

//   svg{
//     width: 100%;
//     height: auto;
//     bottom: 0;
// }
//   .solid-logo{
//     position: absolute;
//     top: auto;
//     right: auto;
//     bottom: auto;
//     left: 0;
//     margin: 0;
//     width: 100%;
//     opacity: 0;
//     z-index: 1;
// }
// }
// .svg-container{
//   stroke: #ffd700;
//   stroke-width: 10;
// }


.logo-container {
  z-index: 0;
  width: 400px;
  height: 642px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: transform 0.6s ease-in-out;

    @media screen and (max-width:1200px) and (min-width: 780px) {
      width: auto;
      height: 100%;
      top: 125px;
      left: 300px;
    }
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}

@media screen and (max-width: 480px) {
  .logo-container .solid-logo {
    top: -40px;
  }
  .svg-cont{
    top: -40px;
  }
}
