.logo-container {
  z-index: 0;
  width: 400px;
  height: 642px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;

  svg {
    width: 100% !important;
    height: auto !important;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: transform 0.6s ease-in-out;
    transform-origin: center center;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}

@media screen and (max-width: 1200px) {
  .logo-container {
    width: 350px !important;
    height: 562px !important;
  }
}

@media screen and (max-width: 768px) {
  .logo-container {
    width: 200px !important;
    height: 400px !important;
    right: 10% !important;
  }
  .svg-container {
    stroke-width: 12;
  }
}

@media screen and (max-width: 480px) {
  .logo-container {
    width: 150px !important;
    height: 300px !important;
    right: 5% !important;
  }
  .logo-container .solid-logo {
    top: -40px;
  }
  .svg-container {
    stroke-width: 10;
  }
}
