.text-zone{
  width: 40%;
  max-height: 100%;
  position: absolute;
  left: 12%;
  top: 50%;
  font-size: 16px;
  transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  cursor: default;

  span{
    color: #ffd700;
  }
}
.skills-container{
  width: 60%;
  height: 100%;
  position: absolute;
  top: 53%;
  left: 68%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;


.skill-item {
  padding: 10px 20px;
  background-color: #033d5d;
  color: #ffd700;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: grab;
  transform-origin: center;


    &:hover {
      background-color: #3396cb;
    }

    &:active {
      cursor: grabbing;
    }
  }
  .drag-alert {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 1;
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
}


@media screen and (max-width: 1024px) {
  .container.portfolio-page .text-zone {
    width: 55%;
    left: 13%;
    top: 45%;
    font-size: 15px;
  }

  .container.portfolio-page .skills-container {
    width: 60%;
    left: 65%;
    gap: 18px;
    top: 52%;
  }

  .skill-item {
    padding: 8px 18px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .text-zone {
    width: 50%;
    left: 5%;
    top: 40%;
    font-size: 14px;
  }

  .skills-container {
    width: 70%;
    left: 55%;
    gap: 15px;
  }

  .skill-item {
    padding: 8px 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .container.portfolio-page .text-zone {
    width: 90%;
    left: 10%;
    top: 35%;
    font-size: 14px;
  }

  .container.portfolio-page .skills-container {
    width: 80%;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
  }

  .skill-item {
    padding: 8px 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container.portfolio-page .text-zone {
    width: 90%;
    left: 5%;
    top: 30%;
    font-size: 13px;
  }

  .container.portfolio-page .skills-container {
    width: 90%;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    gap: 10px;
  }

  .skill-item {
    padding: 5px 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  .container.portfolio-page .text-zone {
    width: 90%;
    left: 5%;
    top: 30%;
    font-size: 13px;
  }

  .container.portfolio-page .skills-container {
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    gap: 10px;
  }

  .skill-item {
    padding: 5px 8px;
    font-size: 12px;
  }
}