.text-animate {
  display: inline-block;
  opacity: 0;
  -webkit-animation: bounceIn 1s 1s;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}
.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  color: #ffd700;

  &:hover {
    -webkit-animation: rubberBand 1s;
    animation: rubberBand 1s;
    color: #fff;
  }
}
@for $i from 1 through 35 {
  .text-animate:nth-child(#{$i}) {
    -webkit-animation-delay: 0.15s * $i;
    animation-delay: 0.15s * $i;
  }
}
