.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  bottom: auto;
  top: 25px;
}
.tags {
  color: #ffd700;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 100px;
  font-size: 18px;
  font-family: "la Belle Aurore", cursive;
}
.top-tag-body {
  margin-left: 20px;
}
.bottom-tag-body {
  margin-left: 20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page,
.contact-page,
.portfolio-page,
.experience-page,
.project-page {
  .text-zone {
    width: 40%;
    max-height: 100%;
    position: absolute;
    left: 12%;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    vertical-align: middle;
    display: table-cell;
    cursor: default;
  }
  h1 {
    font-size: 53px;
    font-family: "Coolvetica";
    // color: #fff;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 10px;
    &:before {
      content: "<h1>";
      font-family: "la Belle Aurore", cursive;
      font-size: 18px;
      color: #ffd700;
      position: absolute;
      margin-top: -10px;
      left: -20px;
      opacity: 0.7;
      line-height: 18px;
    }
    &:after {
      content: "</h1>";
      font-family: "la Belle Aurore", cursive;
      font-size: 18px;
      position: absolute;
      color: #ffd700;
      margin-bottom: 10px;
      left: -20px;
      bottom: -30px;
      opacity: 0.7;
      line-height: 18px;
    }
  }
  p {
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
  }
  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}
@media screen and (max-width: 1200px) {
  .page {
    position: initial;
    .tags{
      display: none;
    }
  }
  .container {
    position: initial;
    height: auto;
    min-height: auto;

    &.about-page,
    &.contact-page,
    &.portfolio-page,
    &.project-page {
      .text-zone {
        //width: 80%;
        width: 100%;
        position: initial;
        transform:none;
        display: block;
        padding: 20px;
        box-sizing: border-box;
        h1{
          margin-left: 1em;
        }
      }
    }
  }
  .about-page .stage-cube-cont{
    position:initial;
    width:90%;
    height:0%;
    overflow:hidden;
  }
}

@media screen and (max-width: 768px) {
  .container {
    &.about-page,
    &.contact-page,
    &.portfolio-page,
    &.project-page {
      .text-zone .page-title{
        margin-left: 10px;
      }
    }
  }
}
