.home-page {
  .text-zone {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    cursor: default;
    h1 {
      color: #fff;
      font-size: 55px;
      line-height: 1;
      letter-spacing: 3px;
      margin: 0;
      font-family: "Coolvetica", cursive;
      font-weight: 400;
      &::before {
        content: "<h1>";
        color: #ffd700;
        font-family: "la Belle Aurore", cursive;
        font-size: 18px;
        position: absolute;
        margin-top: -15px;
        left: -30px;
        opacity: 0.8;
      }
      &::after {
        content: "</h1>";
        color: #ffd700;
        font-family: "la Belle Aurore", cursive;
        font-size: 18px;
        position: absolute;
        margin-top: 60px;
        margin-left: -10px;
        opacity: 0.8;
      }
      img {
        width: 32px;
        margin-left: 20px;
        opacity: 1;
        height: auto;
      }
    }

    p{
      color: #acacac;
      margin-top: 20px;
      font-size: 36px;
      font-weight: 500;
      font-family: sans-serif;
    }

    h2 {
    color: #acacac;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 3px;
    }
  }
}

.btn-set {
  display: flex;
  padding-top: 2em;
  gap: 2em;
}
.flat-button {
  color: #ffd700;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  margin-top: 25px;
  float: left;
  white-space: nowrap;
  &:hover {
    background: #ffd700;
    color: #022c43;
  }
}
.cv-button {
  color: #022c43;
  background: #ffd700;
  font-size: 14px;
  border: 2px solid #ffd700;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  margin-top: 25px;
  float: left;
  white-space: nowrap;
  &:hover {
    background: #022c43;
    color: #ffd700;
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page::before,
  .home-page::after {
    margin-left: 10px;
  }
  .home-page {
    .text-zone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 10%;
      margin-top: 110px;
      width: 90%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
      h1 {
        font-size: 55px;
        &::before {
          left:250px;
        }
        &::after {
          top: 85px;
          right: 240px;
        }
        img {
          width: 25px;
          margin-left: 15px;
        }
      }
      p{
        font-size: 28px;
        margin-top: 20px;
      }
      .flat-button {
        float: none;
        margin-left: 25%;
        border: #ffd700 solid 2px;
      }
    }
    
    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
      img {
        width: 100%;
        opacity: 0.1;
      }
    }
  }
};

@media screen and (max-width: 1024px) {
  .home-page {
    .text-zone {
      margin-top: 150px;
      width: 80%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
      h1 {
        font-size: 55px;
        &::before {
          left: 150px;
        }
        &::after {
          top: 60px;
          right: 150px;
        }
        img {
          width: 25px;
          margin-left: 15px;
        }
      }
      .btn-set{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .flat-button {
        float: none;
        margin-left: 100px;
      }
    }
    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
      img {
        width: 100%;
        opacity: 0.1;
      }
    }
    .flat-button {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    .text-zone {
      top: 80%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 55px;
        &::before {
          top: -70px;
          left: 20px;
        }
        &::after {
          top: 60px;
          right: 0px;
        }
        img {
          width: 40px;
          margin-left: 15px;
        }
      }
      p{
        font-size: 28px;
      }
      h2 {
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .flat-button {
        float: none;
        margin-left: 15px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home-page {
    .text-zone {
      top: 50%;
      h1 {
        font-size: 33px;
        margin-top: 30px;
        padding-left: 0;
        &::before {
          top: -45px;
          left: 5px;
        }
        &::after {
          top: 10px;
          right: 5px;
        }
        img {
          width: 20px;
          margin-left: 15px;
        }
      }
      p{
        font-size: 30px;
        margin-bottom: 0px;
      }
      h2 {
        margin-bottom: 40px;
        font-size: 20px;
      }
      .flat-button {
        float: none;
        margin-left: -70px;
      }
    }
    .btn-set {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      

      .flat-button {
        margin-left: 30px;
        width: 125px;
      }
      .cv-button {
        margin-left: 20px;
        width: 145px;
      }
    }
  }
}
