.contact-form{
  width: 100%;
  margin: -5px;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      overflow: visible;
      display: block;
      position: relative;
      opacity: 0;
      -webkit-animation: fadeInUp 2s 2s;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half{
      width: 49%;
      float: left;
      margin-left: 2%;
      clear: none;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  input[type="text"],
  input[type="email"]{
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0 20px;
    background: #115173;
    color: #ffd700;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    &:focus{
      outline: 2px solid #ffd700;
      outline-offset: 2px;
    }
    &:invalid{
      border-color: red;
    }
    &:valid{
      border-color: green;
    }
  }

  textarea{
    width: 100%;
    height: 50px;
    min-height: 140px;
    border: 0;
    padding: 20px;
    background: #115173;
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 5px;
    &:focus{
      outline: 2px solid #ffd700;
      outline-offset: 2px;
    }
  }
  .flat-button{
    background: #115173;
    color: #ffd700;
    padding: 10px 20px;
    border: 1px solid #ffd700;
    border-radius: 10px;
    font-size: 12px;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 0px;
    &:hover, &:focus{
      background: #ffd700;
      color: #115173;
    }
  }
}

.info-map{
  position: absolute;
  background: #000000e5;
  top: 20px;
  right: 20px;
  z-index: 999999;
  width: 267px;
  color: #ffffffda;
  padding: 20px;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 2s;
  animation-fill-mode: forwards;

  span{
    font-size: 16px;
    display: block;
    color: #ffd700;
    padding-top: 15px;

    a{
      color: #ffd700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.map-wrap{
  background: rgba(8,253,216,0.1);
  float: right;
  width: 45.5%;
  height: 100%;
}

.leaflet-container{
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px){
  .map-wrap{
    float: none;
    width: 100%;
    height: 600px;
    margin: 0;
  }
  .info-map{
    float: none;
    top: 50%;
  }
}

// @media screen and (max-width: 768px){
//   .map-wrap{
//     height: 400px;
//   }
// }

@media screen and (max-width:480px){
  .map-wrap{
    float: none;
    width: 100%;
    height: 600px;
    margin: 0;
  }
  .info-map{
    float: none;
    top: 52%;
    left: 30%;
    width: 58%;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
