.encrypt-button {
  position: relative;
  overflow: hidden;
  border: 1px solid #666;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
  background-color: #2f2f2f;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &.indigo:hover {
    color: #a5b4fc;
  }

  &.pink:hover {
    color: #f9a8d4;
  }

  &.green:hover {
    color: #6ee7b7;
  }

  .content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .highlight {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: linear-gradient(
      to top,
      transparent 40%,
      currentColor 50%,
      transparent 60%
    );
    opacity: 0;
    transform: scale(1.25);
    transition: opacity 0.3s ease;
  }

  &:hover .highlight {
    opacity: 1;
  }
}
