.first-time-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #01141f;
  color: #ffd700;
  font-family: monospace;
  text-align: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  color: #ffd9006f;
}

.headphone-text {
  font-size: 1.5rem;
  margin-top: 8px;
  color: #b0b0b0;
}

.intro-text {
  font-size: 2rem;
  max-width: 70%;
  margin: 12px 0 24px;
  color: #f4de63a5;
}

.terminal-line {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #9cdcfe;
}

.cursor {
  margin-left: 4px;
  color: #9cdcfe;
}
