.time-location-container {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 9999;
  color: white;
  font-family: "BallingerMono-Regular", monospace;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 8px;

  .blink-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: blink 1s infinite;
    flex-shrink: 0;
    margin-bottom: 1px; // Optional: tweak if still slightly off
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
}



@media screen and (max-width: 768px) {
  .time-location-container {
    position: fixed;
    top: 23px;
    right: 40%;
    bottom: auto;
    transform: translateX(50%);
    font-size: 18px;
    opacity: 1;
    z-index: 9999;
    transition: background 0.3s ease, transform 0.2s ease;
    transform-origin: center center;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
  .time-location-container .blink-dot {
    width: 6px;
    height: 6px;
  }
}


@media screen and (max-width: 480px) {
  .time-location-container {
    //position: fixed;
    top: 18px;
    right: 30%;
    bottom: auto;
    transform: translateX(50%);
    font-size: 18px;
    opacity: 1;
    z-index: 9999;
    transition: background 0.3s ease, transform 0.2s ease;
    transform-origin: center center;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
}
