.time-location-container {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 9999;
  color: white;
  font-family: "BallingerMono-Regular", monospace;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 8px;

  .blink-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: blink 1s infinite;
    flex-shrink: 0;
    margin-bottom: 1px; // Optional: tweak if still slightly off
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .time-location-container {
    position: fixed;
    top: 23px;
    right: 50%;
    left: auto;
    bottom: auto;
    transform: translateX(50%);
    font-size: 18px;
    opacity: 1;
    z-index: 9999;
  }
  .time-location-container .blink-dot {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 768px) {
  .time-location-container {
    font-size: 12px;
    opacity: 1;
  }
}
