$primary-color: #ffd700;

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/helvetica-neu.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets/fonts/LaBelleAurore.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets/fonts/CoolveticaRg-Regular.woff2") format("woff2");
  font-display: swap;
}

input,
textarea {
  font-family: "Helvetica Neue";
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  -webkit-animation: fadeOut 1s 1s;
  animation: fadeOut 1s 1s;
  animation-fill-mode: forwards;
}
body {
  background: #022c43;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  line-height: 1.5;
}
.App {
  background: #022c43;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  line-height: 1.5;
}
